body {
  background-color: #FFC568;
}
div {
  padding: 10px 25px;
  margin: 10px; 
}

div.main-div {
  font-family: Verdana, Geneva, sans-serif;
  font-size: 80px;
  text-align: center;
  font-weight: bold;
  height: 300px;
}

div.main-div div {
  display: inline-block;
  margin: 50px 10px;
  position: fixed;
  top: 50%;
  left: 50%;
  margin-top: -50px;
  margin-left: -100px;
  color: black;
}

.centered {
  display: table-cell;
    height: 400px;
    width: 800px;
  text-align: center;
  vertical-align: middle;
}

.container {
  display: table;
}

.test {
  text-align: center;
  font-family: Verdana, Geneva, sans-serif;
  font-size: 45px;
  font-weight: bold;
}

.first {
  color: darkviolet;
  animation: swag 3s cubic-bezier(0.175, 0.885, 0.32, 1.275) infinite 0.4s;
}

@-webkit-keyframes swag {
    form {
        -webkit-transform: rotate(0deg);
    }
    to {
        -webkit-transform: rotate(360deg);
    }
}

@-moz-keyframes swag {
    form {
        -moz-transform: rotate(0deg);
    }
    to {
        -moz-transform: rotate(360deg);
    }
}

@-o-keyframes swag {
    form {
        -o-transform: rotate(0deg);
    }
    to {
        -o-transform: rotate(360deg);
    }
}
@keyframes swag {
    form {
        transform: rotate(0deg);
    }
    to {
        transform: rotate(360deg);
    }
}