body  {
  background-color : #324d6a;
}
@keyframes heartfade {
  0% {
    opacity : 1;
  }
  50% {
    opacity : 0;
  }
}
.heart {
  z-index : 999;
  animation : heartfade 6s linear;
  position : absolute; 
}
.heart:before,
.heart:after {
  content : "";
  background-color : #fc2a62;
  position : absolute;
  height : 30px;
  width : 45px;
  border-radius : 15px 0px 0px 15px;
}

.heart:before {
  transform : rotate(45deg);
}

.heart:after {
  left : 10.5px;
  transform : rotate(135deg);
}

.center {
  padding: 70px 0;
  text-align: center;
  font-size: 2em;
  -webkit-touch-callout: none; /* iOS Safari */
    -webkit-user-select: none; /* Safari */
     -khtml-user-select: none; /* Konqueror HTML */
       -moz-user-select: none; /* Old versions of Firefox */
        -ms-user-select: none; /* Internet Explorer/Edge */
            user-select: none; /* Non-prefixed version, currently
                                  supported by Chrome, Edge, Opera and Firefox */
}

body {
  font-family: "Lucida Console", "Courier New", monospace;
  color: rgb(255,255,255);
}